<p>Someone has requested a password reset for the following account:</p>

<p>Site Name: <b>Fixfinaz</b></p>

Email: {{email}}

<p>If this was a mistake, ignore this email and nothing will happen.</p>

<p>To reset your password, Click the bellow button:</p>
<p>
    <!-- Anchor tag redirects to login, button onclick calls the API in the background -->
    <a href={{url}} style="display: block; width: 100%; text-align: center; padding-top: 30px; padding-bottom: 30px;">
        <button type="button" style="display: inline-block; padding: 10px 20px; color: #fff; background-color: #4ca952; text-decoration: none; border: none; border-radius: 5px;">
            Reset Password
        </button>
    </a>
</p>

<p>If you did not request this email, you can safely ignore it.</p>
